<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Sites
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="tile is-ancestor" id="buttons">
                <template v-for="item in buttons">
                    <div class="tile is-parent">
                        <div class="tile is-child notification"
                            v-bind:class="{'is-warning': !item.isActive, 'is-info': item.isActive }">
                            <div>
                                <a class="button is-fullwidth is-success" v-bind:class="{ 'is-static': !item.isActive }"
                                    v-bind:href="item.url" target="_blank">
                                    {{ item.name }}
                                </a>
                            </div>
                            <div>
                                <span v-if="item.isLoading" class="icon">
                                    <i class="fas fa-spinner fa-pulse"></i>
                                </span>
                                <span>{{ item.status }}</span>
                            </div>
                        </div>
                    </div>
                </template> </div>
        </div>
    </section>
</body>
<script src="index.js"></script>

</html>